<nb-card status="success">
  <nb-card-header>
    ALL ORDER LIST
  </nb-card-header>
  <nb-card-body>
    <table class="table table-bordered table-striped table-responsive">
      <thead class="thead">
        <th>ID</th>
        <th>ORDER NUMBER</th>
        <th>FIRST NAME</th>
        <th>LAST NAME</th>
        <th>PHONE</th>
        <th>EMAIL</th>
        <th>QUANTITY</th>
        <th>SUBTOTAL</th>
        <th>STATUS</th>
        <th>ACTION</th>
      </thead>
      <tbody>
        <tr *ngFor="let item of data;let i=index">
          <td>{{ i+1 }}</td>
          <td>{{item.order_number}}</td>
          <td>{{item.first_name}}</td>
          <td>{{item.last_name}}</td>
          <td>{{item.phone}}</td>
          <td>{{item.email}}</td>
          <td>{{item.quantity}}</td>
          <td>{{item.subtotal}}</td>
          <td>
            <span *ngIf="item.status=='1'">IN PROGRESS</span>
            <span *ngIf="item.status=='2'">DELIVERED</span>
            <span *ngIf="item.status=='0'">CANCELED</span>
          </td>
          <td class="mi-action-button">
            <button (click)="viewMore(item.order_id)" nbPopover="VIEW MORE" nbPopoverTrigger="hover"
              nbPopoverPlacement="bottom" class="view"><i class="fa fa-eye"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </nb-card-body>
</nb-card>
