<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th class="w-30">NAME</th>
      <th class="w-70">INFORMATION</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Main image</th>
      <td><img [src]="imagePath+data.main_image" class="image" alt=""></td>
    </tr>
    <tr>
      <th>Main image</th>
      <td><img [src]="imagePath+data.details_image" class="image" alt=""></td>
    </tr>
    <tr>
      <th>Product name</th>
      <td>
        {{data.product_name}}
      </td>
    </tr>
    <tr>
      <th>Shop Description</th>
      <td>
        {{data.short_description}}
      </td>
    </tr>
    <tr>
      <th>Description</th>
      <td>{{data.description}}</td>
    </tr>
    <tr>
      <th>ingrediants</th>
      <td>{{ data.ingrediants }}</td>
    </tr>
    <tr>
      <th>Quantity</th>
      <td>{{data.quantity}}</td>
    </tr>
    <tr>
      <th>Price</th>
      <td>{{data.price}}</td>
    </tr>
    <tr>
      <th>Regular Price</th>
      <td>{{data.regular_price}}</td>
    </tr>
    <tr>
      <th>Offer price</th>
      <td>{{data.offer_price}}</td>
    </tr>
    <tr>
      <th>Subscriber price</th>
      <td>{{data.subscriber_price}}</td>
    </tr>
    <tr>
      <th>Created by</th>
      <td>{{data.subscriber_price}}</td>
    </tr>
    <tr>
      <th>Updated by</th>
      <td>{{data.subscriber_price}}</td>
    </tr>
    <tr>
      <th>Created at</th>
      <td>{{data.subscriber_price}}</td>
    </tr>
    <tr>
      <th>Updated at</th>
      <td>{{data.subscriber_price}}</td>
    </tr>
  </tbody>
</table>
