<ngx-navbar></ngx-navbar>
<section class="banner_section">
  <div class="container-luid">
    <div class="row">
    <div class="col-sm-5 m-auto">
      <div class="header">
        <h2 class="banner-title">CATEGORY</h2>
      </div>
    </div>
  </div>
  </div>
</section>

<section>
  <div class="container">
    <h2 class="title">WE MADE IT EASY TO FIND YOUR PRODUCT</h2>
    <div class="row">
    <div class="col-sm-3">
        <div class="mi-member-card">
            <div class="header">
                <h4>PACKET SOUP</h4>
            </div>
            <div class="body">
                <div class="image">
                    <img src="https://cdn.frontdoorhome.com/ahs/blog/prod/static/cs/ahs/image/holiday-electronics.png"
                        alt="">
                </div>
            </div>
            <div class="footer">
                <p><i class="fa fa-eye pr-1"></i> VIEW CATEGORY PRODUCT</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="mi-member-card">
            <div class="header">
                <h4>BOOTLE OF SOUP</h4>
            </div>
            <div class="body">
                <div class="image">
                    <img src="https://cdn.frontdoorhome.com/ahs/blog/prod/static/cs/ahs/image/holiday-electronics.png"
                        alt="">
                </div>
            </div>
            <div class="footer">
                <p><i class="fa fa-eye pr-1"></i> VIEW CATEGORY PRODUCT</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="mi-member-card">
            <div class="header">
                <h4>BOX OF SOUP</h4>
            </div>
            <div class="body">
                <div class="image">
                    <img src="https://cdn.frontdoorhome.com/ahs/blog/prod/static/cs/ahs/image/holiday-electronics.png"
                        alt="">
                </div>
            </div>
            <div class="footer">
                <p><i class="fa fa-eye pr-1"></i> VIEW CATEGORY PRODUCT</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="mi-member-card">
            <div class="header">
                <h4>ROSE PERFUME SOUP</h4>
            </div>
            <div class="body">
                <div class="image">
                    <img src="https://cdn.frontdoorhome.com/ahs/blog/prod/static/cs/ahs/image/holiday-electronics.png"
                        alt="">
                </div>
            </div>
            <div class="footer">
                <p><i class="fa fa-eye pr-1"></i> VIEW CATEGORY PRODUCT</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="mi-member-card">
            <div class="header">
                <h4>JASMINE PPERFUME SOUP</h4>
            </div>
            <div class="body">
                <div class="image">
                    <img src="https://cdn.frontdoorhome.com/ahs/blog/prod/static/cs/ahs/image/holiday-electronics.png"
                        alt="">
                </div>
            </div>
            <div class="footer">
                <p><i class="fa fa-eye pr-1"></i> VIEW CATEGORY PRODUCT</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="mi-member-card">
            <div class="header">
                <h4>INDIAN SOUP</h4>
            </div>
            <div class="body">
                <div class="image">
                    <img src="https://cdn.frontdoorhome.com/ahs/blog/prod/static/cs/ahs/image/holiday-electronics.png"
                        alt="">
                </div>
            </div>
            <div class="footer">
                <p><i class="fa fa-eye pr-1"></i> VIEW CATEGORY PRODUCT</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="mi-member-card">
            <div class="header">
                <h4>PATANZALI SOUP</h4>
            </div>
            <div class="body">
                <div class="image">
                    <img src="https://cdn.frontdoorhome.com/ahs/blog/prod/static/cs/ahs/image/holiday-electronics.png"
                        alt="">
                </div>
            </div>
            <div class="footer">
                <p><i class="fa fa-eye pr-1"></i> VIEW CATEGORY PRODUCT</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="mi-member-card">
            <div class="header">
                <h4>PATANZALI SOUP</h4>
            </div>
            <div class="body">
                <div class="image">
                    <img src="https://cdn.frontdoorhome.com/ahs/blog/prod/static/cs/ahs/image/holiday-electronics.png"
                        alt="">
                </div>
            </div>
            <div class="footer">
                <p><i class="fa fa-eye pr-1"></i> VIEW CATEGORY PRODUCT</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="mi-member-card">
            <div class="header">
                <h4>PATANZALI SOUP</h4>
            </div>
            <div class="body">
                <div class="image">
                    <img src="https://cdn.frontdoorhome.com/ahs/blog/prod/static/cs/ahs/image/holiday-electronics.png"
                        alt="">
                </div>
            </div>
            <div class="footer">
                <p><i class="fa fa-eye pr-1"></i> VIEW CATEGORY PRODUCT</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="mi-member-card">
            <div class="header">
                <h4>PATANZALI SOUP</h4>
            </div>
            <div class="body">
                <div class="image">
                    <img src="https://cdn.frontdoorhome.com/ahs/blog/prod/static/cs/ahs/image/holiday-electronics.png"
                        alt="">
                </div>
            </div>
            <div class="footer">
                <p><i class="fa fa-eye pr-1"></i> VIEW CATEGORY PRODUCT</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="mi-member-card">
            <div class="header">
                <h4>PATANZALI SOUP</h4>
            </div>
            <div class="body">
                <div class="image">
                    <img src="https://cdn.frontdoorhome.com/ahs/blog/prod/static/cs/ahs/image/holiday-electronics.png"
                        alt="">
                </div>
            </div>
            <div class="footer">
                <p><i class="fa fa-eye pr-1"></i> VIEW CATEGORY PRODUCT</p>
            </div>
        </div>
    </div>
</div>
  </div>
</section>

<ngx-latest></ngx-latest>
<nb-layout style="display: none"></nb-layout>
