.mi-selected-image-box {
  width: 40%;
  position: relative;

  .mi-selected-image {
    width: 100%;
    float: left;
    border: 2px solid #ccc;
    padding: 4px;
    border-radius: 10px;
  }

  i {
    box-shadow: 1px 2px 11px -3px #000;
    position: absolute;
    right: 6px;
    top: 7px;
    border-radius: 50%;
    background: red;
    padding: 7px 9px;
    color: wheat;
    cursor: pointer;
  }
}

.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.upload-image-button {
  width: 100%;

  button {
    width: 30%;
  }
}

.upload-image-button-with-image {
  width: 60%;
  padding: 10%;

  button {
    width: 100% !important;
  }
}

label {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 800;
  font-family: raleway;
  margin-bottom: 1px !important;
  color: #555;
}
