<div class="container-fluid">
  <nb-layout style="display: none"></nb-layout>
  <main>
    <div class="row">
      <div class="col-sm-5 m-auto login-form">
        <nb-card>
          <nb-card-header>
            PLEASE ENTER YOUR LOGIN INFORMATION
          </nb-card-header>
          <nb-card-body>
            <div class="row" *ngIf="error_message">
              <div class="alert alert-danger alert-dismissible fade show" role="alert"
                style="width: 83%;margin: 0px auto 17px auto;">
                {{error_message}}
              </div>
            </div>
           <form [formGroup]="loginForm" (ngSubmit)="login()">
              <div class="form-group">
                <input type="email" nbInput fullWidth placeholder="Email" formControlName="email">
                <div class="error"
                  *ngIf="loginForm.get('email').invalid && loginForm.get('email').touched || loginForm.get('email').invalid && isSubmited==true">
                  This filed is required</div>
              </div>
              <div class="form-group">
                <input type="password" nbInput fullWidth placeholder="Password" formControlName="password">
                <div class="error"
                  *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched || loginForm.get('password').invalid && isSubmited==true">
                  This filed is required</div>
              </div>
              <div class="row">
                 <div class="col-sm-3 m-auto">
                   <button nbButton status="danger" class="w-100">
                     <span *ngIf="!login_in_process">LOGIN</span>
                     <span *ngIf="login_in_process"><i class="fa fa-cog fa-spin"></i></span> </button>
                 </div>
              </div>
           </form>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </main>

</div>
