.container{
  .title{
    width: 60%;
    margin: -41px auto 40px auto;
    background: white;
    text-align: center;
  }
}
.mi-featured-section {
  margin: 50px;

  .uk-child-width-1-2\@s>* {
    width: 33.3%;
  }

  .uk-card-media-top{
    img{
      width: 100%;
    }
  }

  .uk-card-body {
    padding: 10px 16px;

    .uk-card-title {
      font-size: 16px;
      text-transform: uppercase;
      font-family: raleway;
      margin-bottom: 0px !important;
      font-weight: 800;
      line-height: 20px;
    }

    .short-info {
      margin: -3px 0px 0px 0px;
      color: #555;
      font-size: 12px;
      font-family: raleway;
      font-weight: 500;
    }

    .descriptif{
      margin-bottom: 2px;
      font-size: 12px;
      color: #42aaff;
      font-family: raleway;
      letter-spacing: 1px;
    }

    .price{
      p{
        margin-bottom: 0rem !important;
        text-transform: uppercase;
        font-family: raleway !important;
        font-weight: 600 !important;
        font-size: 12.5px !important;
        color: #555 !important;
        cursor: pointer !important;
      }
    }

    .main-price-text{
      text-align: left;
      text-transform: uppercase;
      font-size: 14px;
      margin: -5px;
    }

    .main-price{
      font-weight: 600;
      color: #ff1274;
    }

    .row {
      .discount {
        width: 32%;
        text-align: center;
        margin-right: 1.3%;
        // background: #ff1274;
        // border: 1px solid #ff1274;

        p {
          color: #ff1274 !important;
          font-weight: 600;
        }
      }

      .regular-price {
        width: 32%;
        text-align: center;
        margin-right: 1.3%;

        p {
          text-decoration: line-through;
          color: #555
        }
      }

      .final-price {
        width: 32%;
        text-align: center;
        margin-right: 1.3%;
        // background-color: #00d68f;
        // border-color: #00d68f;
        font-weight: 600;

        p {
          color: #000;
          font-weight: 600;

        }
      }

      p {
        margin-bottom: 0px;
        padding: 5px;
      }

      margin-top: 7px;
      margin-bottom: 4px;
    }
  }

  .mi-card-footer {
    .b-button {
      width: 100%;
      border-radius: 0px;
      padding: 10px;
    }
  }

  .mi-sm-box {
    text-align: center;
    background: #f7f7f7;
    height: 360px;
    cursor: pointer;

    h1 {
      i {
        font-size: 130px;
        color: #ccc;
        margin-bottom: 0px;
        margin-top: 87px;
      }
    }

    h4 {
      margin: 0;
      color: #ccc;
    }
  }
}
