<section>
  <div class="container">
    <hr class="title-border">
    <h2 class="title">WE MADE IT EASY TO FIND YOUR PRODUCT</h2>
    <div class="row">
    <div class="col-sm-3">
        <div class="mi-member-card">
            <div class="header">
                <h4>PACKET SOUP</h4>
            </div>
            <div class="body">
                <div class="image">
                    <img src="https://cdn.frontdoorhome.com/ahs/blog/prod/static/cs/ahs/image/holiday-electronics.png"
                        alt="">
                </div>
            </div>
            <div class="footer">
                <p><i class="fa fa-eye pr-1"></i> VIEW CATEGORY PRODUCT</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="mi-member-card">
            <div class="header">
                <h4>BOOTLE OF SOUP</h4>
            </div>
            <div class="body">
                <div class="image">
                    <img src="https://cdn.frontdoorhome.com/ahs/blog/prod/static/cs/ahs/image/holiday-electronics.png"
                        alt="">
                </div>
            </div>
            <div class="footer">
                <p><i class="fa fa-eye pr-1"></i> VIEW CATEGORY PRODUCT</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="mi-member-card">
            <div class="header">
                <h4>BOX OF SOUP</h4>
            </div>
            <div class="body">
                <div class="image">
                    <img src="https://cdn.frontdoorhome.com/ahs/blog/prod/static/cs/ahs/image/holiday-electronics.png"
                        alt="">
                </div>
            </div>
            <div class="footer">
                <p><i class="fa fa-eye pr-1"></i> VIEW CATEGORY PRODUCT</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="mi-member-card">
            <div class="header">
                <h4>ROSE PERFUME SOUP</h4>
            </div>
            <div class="body">
                <div class="image">
                    <img src="https://cdn.frontdoorhome.com/ahs/blog/prod/static/cs/ahs/image/holiday-electronics.png"
                        alt="">
                </div>
            </div>
            <div class="footer">
                <p><i class="fa fa-eye pr-1"></i> VIEW CATEGORY PRODUCT</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="mi-member-card">
            <div class="header">
                <h4>JASMINE PPERFUME SOUP</h4>
            </div>
            <div class="body">
                <div class="image">
                    <img src="https://cdn.frontdoorhome.com/ahs/blog/prod/static/cs/ahs/image/holiday-electronics.png"
                        alt="">
                </div>
            </div>
            <div class="footer">
                <p><i class="fa fa-eye pr-1"></i> VIEW CATEGORY PRODUCT</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="mi-member-card">
            <div class="header">
                <h4>INDIAN SOUP</h4>
            </div>
            <div class="body">
                <div class="image">
                    <img src="https://cdn.frontdoorhome.com/ahs/blog/prod/static/cs/ahs/image/holiday-electronics.png"
                        alt="">
                </div>
            </div>
            <div class="footer">
                <p><i class="fa fa-eye pr-1"></i> VIEW CATEGORY PRODUCT</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="mi-member-card">
            <div class="header">
                <h4>PATANZALI SOUP</h4>
            </div>
            <div class="body">
                <div class="image">
                    <img src="https://cdn.frontdoorhome.com/ahs/blog/prod/static/cs/ahs/image/holiday-electronics.png"
                        alt="">
                </div>
            </div>
            <div class="footer">
                <p><i class="fa fa-eye pr-1"></i> VIEW CATEGORY PRODUCT</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
      <div class="mi-sm-box">
        <h1 class="m-0"><i class="fa fa-eye"></i></h1>
        <h4>SEE MORE</h4>
      </div>
    </div>
</div>
  </div>
</section>
