<section class="advertisement_section">
  <div class="container">
    <hr class="title-border">
    <h2 class="title">CHECKOUT OUR OFFERS</h2>
    <div class="row">
      <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="center: true">

        <ul class="uk-slider-items uk-grid">
          <li class="uk-width-3-4">
            <div class="uk-panel">
              <img src="https://i.ytimg.com/vi/5B526IufssU/maxresdefault.jpg" alt="">
            </div>
          </li>
          <li class="uk-width-3-4">
            <div class="uk-panel">
              <img src="https://media.istockphoto.com/vectors/sale-banner-template-design-vector-id945107144" alt="">
            </div>
          </li>
          <li class="uk-width-3-4">
            <div class="uk-panel">
              <img src="https://sm.ign.com/t/ign_nordic/news/b/best-black/best-black-friday-2018-tv-deals-1080p-4k-hdr-and-smart-hdtvs_knzt.1200.jpg" alt="">
            </div>
          </li>
          <li class="uk-width-3-4">
            <div class="uk-panel">
              <img src="https://www.crushpixel.com/big-static13/preview4/sale-banner-template-geometric-abstract-1137171.jpg" alt="">
            </div>
          </li>
        </ul>

        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
          uk-slider-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
          uk-slider-item="next"></a>

      </div>
    </div>
  </div>
</section>
