@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
.advertisement_section{
  margin: 71px 0px;
  .container{
    .title{
     width: 57%;
      margin: -37px auto 40px auto;
      background: white;
      text-align: center;
      font-family: "Monoton", cursive;
      color: #787878;
      font-size: 41px;
      word-spacing: 12px;
      font-weight: 100;
    }
    .uk-slider-items{
      .uk-panel{
        img{
          width: 100%;
        }
      }
    }
  }
}
