<section class="mi-featured-section">
  <div class="container">
    <hr class="title-border">
    <h2 class="title">Our lates product</h2>
    <div class="uk-slider-container-offset" uk-slider>

      <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">
        <ul class="uk-slider-items uk-child-width-1-2@s uk-grid">
          <li>
            <div class="uk-card uk-card-default">
              <div class="uk-card-media-top">
                <img
                  src="https://prd.dw-loreal-paris.fr/dw/image/v2/AAQP_PRD/on/demandware.static/-/Sites-lorealparis-fr-catalog/default/dwebf907ab/product/OAP7043/3600523873821/3600523873821_1_XXL.png?sw=286&sh=224&sm=fit"
                  alt="">

              </div>
              <div class="uk-card-body">
                <h3 class="uk-card-title">Prodct name will go here</h3>
                <p class="short-info">Sweet perfume</p>
                <div class="row mr-0 ml-0" >
                  <div class="discount">
                    <p>50%</p>
                  </div>
                  <div class="regular-price">
                    <p>$1000</p>
                  </div>
                  <div class="final-price">
                    <p>$500</p>
                  </div>
                </div>
              </div>
               <div class="mi-card-footer">
                <div class="row mr-0 ml-0">
                  <button nbButton  class="b-button" status="info"><i class="fas fa-eye pr-1 "></i>VIEW PRODUCT</button>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="uk-card uk-card-default">
              <div class="uk-card-media-top">
                <img
                  src="https://prd.dw-loreal-paris.fr/dw/image/v2/AAQP_PRD/on/demandware.static/-/Sites-lorealparis-fr-catalog/default/dw3d556647/product/OAP7122/3600523951390/3600523951390_1_XXL.jpg?sw=286&sh=224&sm=fit"
                  alt="">
              </div>
              <div class="uk-card-body">
                <h3 class="uk-card-title">Prodct name will go here</h3>
                <p class="short-info">Sweet perfume</p>
                <div class="row mr-0 ml-0" >
                  <div class="discount">
                    <p>50%</p>
                  </div>
                  <div class="regular-price">
                    <p>$1000</p>
                  </div>
                  <div class="final-price">
                    <p>$500</p>
                  </div>
                </div>
              </div>
              <div class="mi-card-footer">
                <div class="row mr-0 ml-0">
                  <button nbButton  class="b-button" status="info"><i class="fas fa-eye pr-1 "></i>VIEW PRODUCT</button>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="uk-card uk-card-default">
              <div class="uk-card-media-top">
                <img
                  src="https://prd.dw-loreal-paris.fr/dw/image/v2/AAQP_PRD/on/demandware.static/-/Sites-lorealparis-fr-catalog/default/dwf68fe6a7/product/OAP6866/3600523527854/3600523527854_1_XXL.jpg?sw=286&sh=224&sm=fit"
                  alt="">
              </div>
              <div class="uk-card-body">
                <h3 class="uk-card-title">Prodct name will go here</h3>
                <p class="short-info">Sweet perfume</p>
                <div class="row mr-0 ml-0" >
                  <div class="regular-price w-50 mr-0">
                    <p>$1000</p>
                  </div>
                  <div class="final-price w-50 mr-0">
                    <p>$500</p>
                  </div>
                </div>
              </div>
               <div class="mi-card-footer">
                <div class="row mr-0 ml-0">
                  <button nbButton  class="b-button" status="info"><i class="fas fa-eye pr-1 "></i>VIEW PRODUCT</button>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="uk-card uk-card-default">
              <div class="uk-card-media-top">
                <img
                  src="https://prd.dw-loreal-paris.fr/dw/image/v2/AAQP_PRD/on/demandware.static/-/Sites-lorealparis-fr-catalog/default/dw8a1755d9/product/OAP6751/3600523503285/3600523503285_1_v2_XXL.jpg?sw=286&sh=224&sm=fit"
                  alt="">
              </div>
              <div class="uk-card-body">
                <h3 class="uk-card-title">Prodct name will go here</h3>
                <p class="short-info">Sweet perfume</p>
                <div class="row mr-0 ml-0" >
                  <div class="discount">
                    <p>50%</p>
                  </div>
                  <div class="regular-price">
                    <p>$1000</p>
                  </div>
                  <div class="final-price">
                    <p>$500</p>
                  </div>
                </div>
              </div>
               <div class="mi-card-footer">
                <div class="row mr-0 ml-0">
                  <button nbButton  class="b-button" status="info"><i class="fas fa-eye pr-1 "></i>VIEW PRODUCT</button>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="uk-card uk-card-default">
              <div class="uk-card-media-top">
                <img
                  src="https://prd.dw-loreal-paris.fr/dw/image/v2/AAQP_PRD/on/demandware.static/-/Sites-lorealparis-fr-catalog/default/dw6732979a/product/OAP6948/3600523732548/3600523732548_1m_XXL.jpg?sw=286&sh=224&sm=fit"
                  alt="">
              </div>
              <div class="uk-card-body">
                <h3 class="uk-card-title">Prodct name will go here</h3>
                <p class="short-info">Sweet perfume</p>
                <div class="row mr-0 ml-0" >
                  <div class="discount">
                    <p>50%</p>
                  </div>
                  <div class="regular-price">
                    <p>$1000</p>
                  </div>
                  <div class="final-price">
                    <p>$500</p>
                  </div>
                </div>
              </div>
               <div class="mi-card-footer">
                <div class="row mr-0 ml-0">
                  <button nbButton  class="b-button" status="info"><i class="fas fa-eye pr-1 "></i>VIEW PRODUCT</button>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="uk-card uk-card-default">
              <div class="mi-sm-box">
                <h1 class="m-0"><i class="fa fa-eye"></i></h1>
                <h4>SEE MORE</h4>
              </div>
            </div>
          </li>
        </ul>

        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
          uk-slider-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
          uk-slider-item="next"></a>

      </div>

      <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>

    </div>
  </div>
</section>


