<nb-card status="success">
  <!--start of mi-fc-card-->
  <nb-card-header>
    <!--nb card header started-->
    Table header will go here
  </nb-card-header>
  <!--end of nb card header-->
  <nb-card-body>
    <!--nb card body started-->
    <form [formGroup]="createForm" (ngSubmit)="create()">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
           <input type="file" nbInput fullWidth #image (change)="imageUpload($event);" >
            <div class="error"
              *ngIf="createForm.get('image').invalid && createForm.get('image').touched || createForm.get('image').invalid && isSubmited==true">
              This file is required</div>
          </div>
        </div>
        <div class="col-sm-2">
          <button nbButton status="info" class="w-100"> <span *ngIf="!create_on_process">Create</span><span
              *ngIf="create_on_process"><i class="fa fa-cog fa-spin"></i></span> </button>
        </div>
      </div>
    </form>
  </nb-card-body>
  <!--end of nb card body-->
</nb-card>
<!--end of nb-fc-card-->
