<div class="row">
  <div class="col-sm-6 m-auto">
    <nb-card status="success">
      <nb-card-header>
        Change your account password
      </nb-card-header>
      <nb-card-body>
        <form [formGroup]="form">
          <div class="form-group">
            <label>old password</label>
            <input type="text" nbInput fullWidth placeholder="old_password" formControlName="old_password">
            <div class="error"
              *ngIf="form.get('old_password').invalid && form.get('old_password').touched || form.get('old_password').invalid && isSubmited==true">
              This filed is required</div>
          </div>
          <div class="form-group">
            <label>new password</label>
            <input type="text" nbInput fullWidth placeholder="new password" formControlName="new_password">
            <div class="error"
              *ngIf="form.get('new_password').invalid && form.get('new_password').touched || form.get('new_password').invalid && isSubmited==true">
              This filed is required</div>
          </div>
          <div class="form-group">
            <label>confirm password</label>
            <input type="text" nbInput fullWidth placeholder="confirm_password" formControlName="confirm_password">
            <div class="error"
              *ngIf="form.get('confirm_password').invalid && form.get('confirm_password').touched || form.get('confirm_password').invalid && isSubmited==true">
              This filed is required</div>
          </div>
        </form>
      </nb-card-body>
      <nb-card-footer>
        <div class="row">
          <div class="col-sm-6 m-auto">
            <button nbButton status="warning" class="w-100" (click)="changePassword()"> <span *ngIf="!in_progress">Change
                password</span><span *ngIf="in_progress"><i class="fa fa-cog fa-spin"></i></span> </button>
          </div>
        </div>
      </nb-card-footer>
    </nb-card>

  </div>
</div>
